<%- include('partials/header') %>
<html>
<body>
    <% if(user) {%>
        <div class="userinfo">
            <img id="avatarP" width="100" height="100" src=<%= user.avatarURL %>></img>
            <p id="username">Hello <%= user.username %>#<%= user.discriminator %> <br>
            <p id="apiKey">Your api key: <input id="pass" type="password" disabled value="********************"> <p>
            <div class="center">

                <button onclick="copy_text()" id="keybtn">Copy key</button><button onclick="switch_text()" id="hidebtn">Unhide</button>
            </div>
            </p>


        </div>
        <script>
        function copy_text() {
            const text = "<%= user.api_key %>"
            if(navigator.clipboard) return navigator.clipboard.writeText(text);
            else if(window.clipboardData) return window.clipboardData.setData("Text", text);
    }
            
        
        function switch_text() {
            var button = document.getElementById("hidebtn")
            var input = document.getElementById("pass")
            switch(input.type) {
                case "password":
                    input.value = "<%= user.api_key %>"
                    input.type = "text"
                    button.textContent = "Hide"
                break;
                case "text":
                    input.value = "********************"
                    input.type = "password"
                    button.textContent = "Unhide"
                break;
            }
        }
        </script>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
            #avatarP {
                border-radius: 100px;
                border-color: black;
                border-style: solid;
                display: block;
                margin-left: auto;
                margin-right: auto;   
                margin-top: 10px;
            }
            #username {
                text-align: center;
            }
            #apiKey {
                text-align: center;
            }
            #keybtn {
                margin-left: auto;
                margin-right: auto;  
            }
            .userinfo {
                border-style: solid;
                margin-top: 20px;
                font-family: 'Roboto', sans-serif;
            }
            .center {
                margin-left: 800px;
                margin-right: 700px;
                align-items: center;
            }
        </style>
    <% } else { %>
        <a href="/auth/login">Login</a> to see your info!
    <% } %>
</body>
</html>